<h3>Crew</h3>
<ul>
  <li *ngFor="let crewMember of crew">
    <span *ngIf="memberBeingEdited !== crewMember; else elseBlock">
      <!--display state of member-->
      <span (click)="edit(crewMember)" class="editable-text">{{
        crewMember.name
      }}</span>
      <span *ngIf="crewMember.firstMission">- 1st</span>
      <button (click)="remove(crewMember)">remove</button>
    </span>
    <ng-template #elseBlock>
      <!--edit state of member-->
      <input
        #updatedName
        (keyup.enter)="save(updatedName.value, crewMember)"
        value="{{ member.name }}"
      />
      <button (click)="save(updatedName.value, crewMember)">save</button>
    </ng-template>
  </li>
</ul>

<input #name type="text" />
<label>First mission<input #firstMission type="checkbox" /></label>
<button (click)="add(name.value, firstMission.checked)">Add</button>

<h3>
  Carrier Rocket:
  <span *ngIf="!editingRocket; else editRocketBlock">
    <span class="editable-text" (click)="editingRocket = true">{{
      rocketName
    }}</span>
  </span>
  <ng-template #editRocketBlock>
    <input
      #rocket
      (keyup.enter)="updateRocket(rocket.value)"
      value="{{ rocketName }}"
    />
    <button (click)="updateRocket(rocket.value)">save</button>
  </ng-template>
</h3>
